@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.action-btn {
    @apply cursor-pointer text-xl p-3 my-0 mx-2 bg-transparent rounded-full border-0 text-white hover:scale-110 hover:text-gray-200 focus:outline-none outline-none
}
.action-btn-big {
    @apply text-black text-3xl
}
.playlist {
    @apply absolute left-0 h-fit w-full bg-gray-950 z-0 mt-0 rounded-2xl overflow-x-hidden overflow-y-auto
}
.playlist-elements {
    animation: fadeIn 1s;
    @apply flex justify-between overflow-hidden list-decimal
}
.playsongs {
    @apply relative w-9/12 bg-transparent m-1 cursor-pointer text-white rounded-xl font-rubik overflow-hidden float-left
}
.playsongs span {
    animation: playsongs1 10s ease-in-out forwards infinite;
    @apply inline-block min-w-full whitespace-nowrap text-xl
}
.progress {
    transition: width 0.1 linear;
    @apply bg-red-800 rounded-md h-full
}
.seek-slider{
    @apply absolute top-[-1px] left-[-4px] xl:left-[-8px] ml-0 rounded-md h-full w-[103%] bg-transparent appearance-none
}
.seek-slider::-webkit-slider-thumb {
    @apply w-5 h-5 bg-red-600 border-red-50 border-2 rounded-[50%] cursor-pointer appearance-none
}
.slider {
    @apply relative w-[200px] h-[10px] bg-red-800 rounded-[30px]
}
.slider input {
    @apply absolute left-[-30px] xl:left-[-12px] top-[-5px] w-[80px] h-5 appearance-none bg-transparent z-10
}
.slider input::-webkit-slider-thumb {
    @apply w-5 h-5 bg-red-600 border-red-50 border-2 rounded-[50%] cursor-pointer appearance-none
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
@keyframes playsongs1 {
    from {transform: translateX(0);     margin-left: 0;}
    to   {transform: translateX(-100%); margin-left: 100%; }
  }

/*PlayerUI*/
.svg{
    @apply w-6 h-6
}
.big-svg{
    @apply w-9 h-9 fill-black
}
.button{
    @apply flex items-center justify-center rounded-full fill-white w-fit hover:scale-110
}
.big-button{
    @apply flex items-center justify-end rounded-full bg-white p-4 hover:scale-105
}
.side-button{
    @apply flex items-center justify-center rounded-full fill-white
}